.footer {
  width: 100%;
  /* height: 30px; */
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .button_box {
  display: flex;
  /* justify-content: space-between; */
  width: 40rem;
}

.footer .box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* margin-right: 10%; */
  border: 1px solid red;
  align-items: center;
}

.footer .box li {
  display: block;
  padding: 10px;
}

.footer .slid_container {
  display: flex;
  justify-content: flex-end;
  width: 30rem;
  border: 3px solid red;
  /* display: block; */
  padding: 10px;
  overflow: hidden;
  /* display: flex; */
  /* position: absolute; */
  /* opacity: 0; */
}

.footer .slid_container .wrap {
  will-change: transform;
  white-space: nowrap;
}

.footer .slid_container .wrap > span {
  /* font-size: 3vw; */
  word-spacing: 20px;
  letter-spacing: 5px;
}

.footer .slid_container .slid_text {
  display: inline-block;
  white-space: nowrap;
  /*  */
  animation: 20s linear 0s infinite normal forwards running rollingleft1;
  /* animation: marquee 40s linear infinite; */
  /* animation-delay: 0s; */
}

.footer .slid_container .slid_text2 {
  display: inline-block;
  white-space: nowrap;
  /*  */
  animation: 20s linear 0s infinite normal forwards running rollingleft2;
  /* animation: marquee 40s linear infinite; */
  /* animation-delay: 0s; */
}

.footer .slid_container .slid_text span {
  margin-right: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rollingleft1 {
  /* 원본용 */
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  /* 클론용 */
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
