.flow-container {
  width: 300px;
  /* height: 40px; */
}

.flow-container .flow {
  /* width: 300px; */
  height: 100%;
  border: 1px solid green;
  display: flex;
  white-space: nowrap;
  background-color: aliceblue;
  /* 
    white-space 속성
    글자를 포함하는 요소의 가로넓이 이상의 text를 가지고 있을 때, text 제어
    - normal (default) :부모 요소의 가로만큼 텍스트 차지, 그 이후로는 줄바꿈
    - nowrap : 텍스트가 넘쳐도 줄바꿈 무시하고 가로로 배치
    */

  /* 주석 해제하고 보기 */
  overflow: hidden;
}

.flow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(170, 0, 0, 1) 10%,
    rgba(170, 0, 0, 0.75) 51%,
    rgba(170, 0, 0, 0) 100%
  );
}

.flow-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(170, 0, 0, 0) 0%,
    rgba(170, 0, 0, 0.75) 51%,
    rgba(170, 0, 0, 1) 100%
  );
}

.flow div {
  animation: loop 10s linear infinite;
  line-height: 40px;
  padding-right: 1rem;
  /* 박스 높이 키워줌 */
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
